:root { 
--deep_orange_50:#f5e5d6; 
--light_blue_900_33:#01689c33; 
--light_blue_900_19:#01689c19; 
--light_blue_900:#01689c; 
--amber_A400:#ffc600; 
--light_blue_900_2b:#01689c2b; 
--green_A700:#00c948; 
--black_900:#000000; 
--yellow_900:#cd7f32; 
--light_blue_A700:#007aff; 
--deep_orange_300:#d69b5b; 
--gray_400_33:#b7b7b733; 
--teal_200_19:#6ebed819; 
--gray_600:#808080; 
--gray_900_02:#1a1a1a; 
--gray_700:#565656; 
--blue_gray_100:#d0d0d0; 
--blue_gray_400:#8b8b8b; 
--amber_A400_3d:#ffc7003d; 
--gray_900:#151515; 
--lime_900:#93520b; 
--gray_900_01:#262626; 
--amber_A400_51:#ffc60051; 
--gray_300:#e2e2e2; 
--gray_100:#f2f2f2; 
--black_900_33:#00000033; 
--lime_900_01:#977600; 
--light_blue_900_1e:#01689c1e; 
--blue_gray_400_01:#8a8a8a; 
--white_A700:#ffffff; 
}